<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Videos CRUD</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./src/css/styles.css" />
  </head>
  <body>
    <section id="app">
      <header class="header">
        <h1 class="header-title">VIDEO PACHA TV</h1>
        <button class="btn btn-primary" @click="toggleOpenAddVideoSection">
          Agregar video
        </button>
      </header>

      <!-- Section add video -->
      <section class="add-video" v-if="openSectionAddVideo">
        <div>
          <h2 class="add-video-title">Agregar video</h2>

          <form class="add-video-form" @submit.prevent="submitVideo">
            <div>
              <input
                class="add-video-input title"
                required
                type="text"
                name="title"
                placeholder="Titulo"
                v-model="title"
              />
              <input
                class="add-video-input url-video"
                required
                type="text"
                name="url-video"
                placeholder="url-video"
                v-model="url_video"
              />
            </div>
            <div class="description-content">
              <textarea
                class="add-video-input description"
                required
                name="description"
                cols="30"
                rows="10"
                placeholder="Descripción"
                v-model="description"
              ></textarea>
            </div>

            <div class="buttons-actions">
              <button class="btn btn-primary" type="submit">Agregar</button>
              <a href="./index.html" class="btn btn-secondary">
                Cancelar
              </a>
            </div>
          </form>
        </div>
      </section>

      <!-- Section listar video -->
      <section
        class="list-video"
        v-if="(!openSectionAddVideo && !openEditVideoSection && openDetailVideoSection)"
      >
        <h2 class="list-video-title">Lista de video</h2>
        <div class="grid" id="js-list-video">
          {{getVideo()}}
          <!-- <article class="card-video">
            <div class="card-video-img">
              <div class="card-video-actions">
                <div class="edit-btn">
                  <i class="fas fa-pen"></i>
                </div>
                <div class="delete-btn">
                  <i class="fas fa-times"></i>
                </div>
              </div>
              <div class="play-icon">
                <i class="fas fa-play"></i>
              </div>
              <img src="https://picsum.photos/200/300" alt="img" />
            </div>
            <div class="card-video-information">
              <h3 class="card-video-title">Titulo de prueba</h3>
              <span class="card-video-view">0 visualizaciones</span>
              <p class="card-video-description">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Dolores a modi aut, aliquam odio similique placeat expedita?
                Distinctio, ex quis! Dignissimos, ipsa delectus? Facere
                doloribus esse maiores laudantium omnis molestiae.
              </p>
              <a href="#" class="card-video-detail">
                Ver detalle
              </a>
            </div>
          </article> -->
        </div>
      </section>

      <!-- Section detail data -->
      <section class="detail" v-if="!openDetailVideoSection">
        <h2 class="detail-title">{{ detailTitle }}</h2>

        <figure class="detail-video-container">
          <img class="detail-video" :src="detailUrl_video" alt="Img" />
        </figure>

        <div class="detail-detail-container">
          <h3 class="detail-sub-title">{{ detailTitle }}</h3>
          <p class="detail-views">0 visualizaciones</p>

          <p class="detail__description">
            {{ detailDescription }}
          </p>
        </div>
      </section>
    </section>

    <!-- Vue js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/b7301c403c.js"
      crossorigin="anonymous"
    ></script>

    <!-- my scripts -->
    <script src="./src/js/app.js" type="module"></script>
  </body>
</html>
